@import "tailwindcss";

@theme inline {
  --color-primary: #2B52DD;
  --color-primary-hover: #1c3db2;
  --color-warning-main: #FFB800;
  --color-warning-light: #FFED8E;
  --color-info-main: #60A5FA;
  --color-info-light: #BFDBFE;
  --color-success-main: #22c55e;
  --color-success-light: #86efac;
  --color-error-main: #f87171;
  --color-error-light: #fecaca;  
  --color-white-main: #ffffff;
  --color-white-secondary: #BABABA;
  --color-white-tertiary: #8D8D8D;
}